<div id="daily-layout">
	
	<div class="daily-heading">
		<h2>Wednesday 26th April</h2>
	</div>

	<!-- Show only days with events -->
	<div class="daily-container">

		<div class="daily-left">
			
			<div class="daily-events">
			<h2>Events</h2>

			<div class="daily-events-list daily-events-empty">
				
				<p> Nothing to do today </p>
			</div>

		</div>

		<div class="daily-timeline">
			<h2>Time Tracker</h2>
		</div>	

		</div>
		

		<div class="daily-right">
			

			<div class="daily-tasks">
				
				<h2>Tasks</h2>
			</div>

			<div class="daily-tracker">
			Daily tracker grid
			</div>		


		</div>

	</div>
</div>