<header>
		<button #anchor (click)="onToggleLegend()"><img src="../assets/img/legend.png"></button>

      <kendo-popup [popupClass]="'inner-wrapper'" [offset]="offset" *ngIf="showLegend">
    	
    	<app-legend></app-legend>

      </kendo-popup>

		<h1>BuJo</h1>


		<button #anchor (click)="onToggleSettings()"><img src="../assets/img/settings.png"></button>

		  <kendo-popup [popupClass]="'inner-wrapper'" [offset]="offset" *ngIf="showSettings">
    
    	<app-settings></app-settings>
    	
      </kendo-popup>

</header>