	<h1>Legend</h1>

	<i class="fa fa-times fa-2x" aria-hidden="true"></i>
<br>

<i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>Todo

<br>

<i class="fa fa-circle fa-2x" aria-hidden="true"></i>Completed

<br>

<i class="fa fa-dot-circle-o fa-2x" aria-hidden="true"></i>In Process

<br>

<i class="fa fa-glass fa-2x" aria-hidden="true"></i>Dinner

<br>

<i class="fa fa-money fa-2x" aria-hidden="true"></i>Financial

<br>

<i class="fa fa-paw fa-2x" aria-hidden="true"></i>Vet Appointment

<br>

<i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>Mall	

<br>

<i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>Groceries

<br>

<i class="fa fa-plane fa-2x" aria-hidden="true"></i>Travel

<br>

<i class="fa fa-star fa-2x" aria-hidden="true"></i>Important

<br>


<i class="fa fa-ticket fa-2x" aria-hidden="true"></i>Event

<br>

<i class="fa fa-ban fa-2x" aria-hidden="true"></i>Cancelled
 
 <br>

<i class="fa fa-bell fa-2x" aria-hidden="true"></i>Due Date
 
 <br>

<i class="fa fa-adjust fa-2x" aria-hidden="true"></i>Delayed

<br>

<i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>Appointment

<br>


<i class="fa fa-diamond fa-2x" aria-hidden="true"></i>Goals


<br>
<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
Note

<br>


Projects

<br>

<i class="fa fa-heartbeat" aria-hidden="true"></i>Health
<br>

<i class="fa fa-heart fa-2x" aria-hidden="true"></i>Inspirtation

<i class="fa fa-certificate fa-2x" aria-hidden="true"></i>


<i class="fa fa-television fa-2x" aria-hidden="true"></i>

<i class="fa fa-hashtag fa-2x" aria-hidden="true"></i>



<i class="fa fa-exclamation" aria-hidden="true"></i>