<div id="bujo-entry">

	<header>
		<h1>BuJo</h1>
	</header>


	<div id="journal-entry">

		<div class="page">

			<kendo-calendar [value]="value"></kendo-calendar>

			<div id="selection">

	 <monthly-overview></monthly-overview>


	  <habit-tracker></habit-tracker>

	  <water-intake></water-intake>

</div>

		</div>


			<journal-tabs class="tabs">
			</journal-tabs>
	</div>



	<footer class="footer">

		<h1>

			<a href="https://icons8.com">Made for Angular Attack 2017</a>

			<a href="https://icons8.com">Icon pack by Icons8</a>
		</h1>

	</footer>

	
</div>