

#split{
	display: flex;
	width: 100%;
}


#weekly-layout{
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

}

.week-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.week-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.week-entry{
	width: 45%;
	height: 32%; 
	display: flex;
	flex-direction: column;
}

.week-tasks{
	height: 100%;
	width: 100%;
	border: 2px solid #F4F4F4;
	display:flex;
	flex-direction: column;
	padding: 5px;
	align-items: flex-start;
	align-content: space-around;
	justify-content: flex-start;
}  

.week-tasks p{
	margin:0px;	


}

.right-align{
	flex-direction: row-reverse;
}

.right-align span{
	margin-right: 10px;	
}

.week-item{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-size: 12px;
	font-family: 'Karla', sans-serif;

}

.week-item span{
	margin-left: 10px;
}

.day {
	border: 2px solid #00BCD4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background-color: #4DD0E1;
	color: #F4F4F4;

}


.weekday{
	color:#666666;
}

.week-ending{
	height: 5%;
}

.empty-tasks{
	border: 2px dashed #F4F4F4 !important;
	justify-content: center;
	align-items: center;
}

.empty-tasks {
	.fa{
	color: #F4F4F4;
	}
}


@media only screen and(max-width: 480px){
	
	.week-entry{
    width: 87%;
    height: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.week-tasks{
	width: 96%;
	margin-bottom: 5px;
}

.week-header{
	margin-bottom: 5px;
}
}