<div id="page-banner">
	<div class="title">
		<p>W</p>
		<p>E</p>
		<p>E</p>
		<p>K</p>
		<p>L</p>
		<p>Y</p>
	</div>


	<div class="bottom-banner"></div>
</div>

<div id="weekly-layout">
	
	<div class="week-ending">
		<h2>April 24 - 30</h2>
	</div>

	<div class="week-container">

		<div class="week-entry">

			<div class="week-header">
				<div class="weekday">Monday</div>
				<div class="day">
					24
				</div>


			</div>

			<div class="week-tasks">
				 <div class="week-item">
				<p><i class="fa fa-circle-o" aria-hidden="true"></i></p> <span>Buy New Car</span> 	
				 </div>

				<div class="week-item">
				<p><i class="fa fa-glass" aria-hidden="true"></i></p> <span>Celebrate @ Alex's here</span> 	
				 </div>

				 <div class="week-item">
				<p><i class="fa fa-star" aria-hidden="true"></i></p> <span>Remember to Call Doctor tomorrow</span> 	
				 </div>
			</div>

		</div>


		<div class="week-entry">

			<div class="week-header">
				<div class="day">25</div>
				<div class="weekday">Tuesday</div>

			</div>

			<div class="week-tasks empty-tasks">

				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			</div>

		</div>


		<div class="week-entry">

			<div class="week-header">
				<div class="weekday">Wednesday</div>
				<div class="day">26</div>
			</div>

			<div class="week-tasks empty-tasks">
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
		
			</div>
		</div>


		<div class="week-entry">

			<div class="week-header">
				<div class="weekday">Thursday</div>
				<div class="day">27</div>
			</div>

			<div class="week-tasks empty-tasks">
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			</div>

		</div>

		<div class="week-entry">

			<div class="week-header">

				<div class="day">28</div>
				<div class="weekday">Friday</div>
			</div>

			<div class="week-tasks empty-tasks">

				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
		
			</div>

		</div>



		<div class="week-entry">

			<div class="week-header">
				<div class="weekday">Saturday & Sunday</div>
				<div class="day">29 - 30</div>
			</div>

			<div class="week-tasks empty-tasks">

			<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			
			</div>

		</div>



	</div>

</div>