#options{
	height: 100%;
	background: #31135A;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#options li{
	list-style-type: none;
	padding: 5px;
}

li.selected{
	background: white;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}