#options{
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#options li{
	list-style-type: none;
	padding: 5px;
}

li.selected{
	background: white;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media only screen and(max-width: 480px){

	#options{
		flex-direction: row;
		height: 80%;
	}

	li.selected{
		background: none;
	}
}