<div id="options">
	<li class="selected">
		<a routerLink="/monthly-overview"><img src="../assets/img/tab-icons/month.png"></a>
	</li>
	<li>
		<a routerLink="/weekly-overview"><img src="../assets/img/tab-icons/week.png"></a>
	</li>
	<li>
		<a routerLink="/daily-overview"><img src="../assets/img/tab-icons/day.png"></a>
	</li>
	<li>
		<a routerLink="/birthday-overview"><img src="../assets/img/tab-icons/birthday.png"></a>
	</li>
	<li>
		<a routerLink="/year-overview"><img src="../assets/img/tab-icons/happy.png"></a>
	</li>
	<li>
		<a routerLink="/astrology"><img src="../assets/img/tab-icons/zodiac.png"></a>
	</li>
</div>





