
<div id="month-layout">
	
	<div class="month-heading">
		<h2>April</h2>
	</div>

	<!-- Show only days with events -->
	<div class="month-container">

		<div class="month-grid">
			<ul>
				<li>
					<div class="month-grid-day">1</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayList">
						<ul>
							<li class="month-grid-dayEvent"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Call Mom</li>
							<li class="month-grid-dayEvent"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Do Laundry</li>
							<li class="month-grid-dayEvent"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Date with Alex</li>

						</ul>
					</div>

				</li>
				<li>
					<div class="month-grid-day">2</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent">
					<ul>
							<li>Call Mom</li>
							<li>Do Laundry</li>
							<li>Date with Alex</li>

						</ul>
						</div>
				</li>
				<li>
					<div class="month-grid-day">3</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent">
						<ul>
						
							<li>Do Laundry</li>
						

						</ul>
					</div>
				</li>
				<li>
					<div class="month-grid-day">4</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent">
					<ul>
							<li>Call Mom</li>
							

						</ul>
						</div>
				</li>
				<li>
					<div class="month-grid-day">5</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
						
							<li>Date with Alex</li>

						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">6</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							<li>Call Mom</li>
							

						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">7</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							
							<li>Do Laundry</li>
							
						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">8</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							
							<li>Do Laundry</li>
							<li>Date with Alex</li>

						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">9</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							<li>Date with Alex</li>

						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">10</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							<li>Call Mom</li>
							
						</ul></div>
				</li>
				<li>
					<div class="month-grid-day">11</div>
					<div class="month-grid-weekday">Fri</div>
					<div class="month-grid-dayEvent"><ul>
							
							<li>Date with Alex</li>

						</ul></div>
				</li>

			</ul>

		</div>
		
<!-- 		<div class="grid">
			<kendo-grid [data]="gridData" [height]="410">
				<kendo-grid-column field="day" width="20">
				</kendo-grid-column>
				<kendo-grid-column field="dow" width="20">
				</kendo-grid-column>
				<kendo-grid-column field="event" width="60" >
				</kendo-grid-column>	
			</kendo-grid>	
		</div>



		<div id="monthly-goals">

			<div class="goals">
				
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>


			</div>

			<div class="tasks">
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			</div>		

		</div>
	-->
</div>
</div>