
<div id="month-layout">
	
	<div class="month-heading">
		<h2>April</h2>
	</div>

	<!-- Show only days with events -->
	<div class="month-container">
		
		<div class="grid">
			<kendo-grid [data]="gridData" [height]="410">
				<kendo-grid-column field="day" width="20">
				</kendo-grid-column>
				<kendo-grid-column field="dow" width="20">
				</kendo-grid-column>
				<kendo-grid-column field="event" width="60" >
				</kendo-grid-column>
			</kendo-grid>	
		</div>



		<div id="monthly-goals">

			<div class="goals">
				
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>


			</div>

			<div class="tasks">
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
			</div>		

		</div>

	</div>
</div>