/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/all";

//Variables
$font-family: 'Reenie Beanie', cursive;
$accent-color: #00BCD4;
$radius: 50px;

html{
	height: 100%;
}

body{
	background: #31135A;
	margin: 0px;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

#bujo-entry{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;

}

.tabs, .journal-entry{
	display: flex;
}

.tabs{
	width: 5%;
	height: 100%;
    border-radius: $radius;
    flex-direction: row-reverse;
    margin: auto;
}

#journal-entry{
	min-height: 80%;
	width: 90%;
	margin: auto;
	display: flex;
}

.page{
	width: 95%;
	margin: 2%;
	margin: auto;
	min-height: 100%;
	border: 1px dashed #ecf0f1;
	border-radius: $radius;
	background: #FFFFFF;
	display: flex;
}

h1, a{
	font-family: 'Reenie Beanie', cursive;
	font-size: 20px;
	color: #ecf0f1;
    text-decoration: none;
}

monthly-overview, weekly-overview, birthday-overview{
	display: flex;
	height: 100%;
}


#selection{
	width: 70%;
	border-radius: $radius;
}


#widget{
	position: absolute;
    top: 60%;
    left: 13%;
}


.k-calendar.k-calendar-infinite {
 height: 500px;
 border-radius: $radius;

}

.k-widget{
	border-style: none;
}

.k-calendar .k-state-selected .k-link{
	background-color: $accent-color;
}

.k-calendar-header .k-today{
	color: $accent-color;
}

.k-grid tr.k-alt{
	background-color: white;
}

.k-grid-header{
	display: none;
}

.inner-wrapper {
    padding: 20px;
    color: #fff;
    background-color: #31135A;
    width: 50vw;
    height: 100vh;
    border-left: 3px solid #ecf0f1;
    border-right: 3px solid #ecf0f1;
    box-shadow: 5px 5px 5px #888888;
  }
