<div id="options">
	<li class="selected">
		<a routerLink="/monthly-overview"><img src="../assets/img/month.png"></a>
	</li>
	<li>
		<a routerLink="/weekly-overview"><img src="../assets/img/week.png"></a>
	</li>
	<li>
		<a routerLink="/daily-overview"><img src="../assets/img/day.png"></a>
	</li>
	<li>
		<a routerLink="/birthday-overview"><img src="../assets/img/birthday.png"></a>
	</li>
	<li>
		<a routerLink="/year-overview"><img src="../assets/img/happy.png"></a>
	</li>
	<li>
		<a routerLink="/astrology"><img src="../assets/img/zodiac.png"></a>
	</li>
</div>





